<div class="formcontainer">
  <div class="formbody">
      <form style="width:100%;" [formGroup]="myForm">
          <div class="header">Change your password</div>
          <div>
              <mat-form-field style="width:100%;">
                  <input type="text" formControlName="email" matInput placeholder="Enter your Email" id="email">
              </mat-form-field>                
              <span *ngIf="isValid('email')">Entered email is invalid</span>
          </div>
        
          <!-- <div>
              <mat-form-field style="width:100%;">
                  <input type="password" formControlName="oldpassword" matInput placeholder="Enter your old Password" id="oldpass">
              </mat-form-field>
              <span *ngIf="isValid('password')">Password is a mandatory field</span>
          </div>

          <div>
            <mat-form-field style="width:100%;">
                <input type="password" formControlName="password" matInput placeholder="Enter your New Password" id="pass">
            </mat-form-field>
            <span *ngIf="isValid('password')">Password is a mandatory field</span>
        </div>
          <div>
              <mat-form-field style="width:100%;">
                  <input type="password" formControlName="cnfpass" matInput placeholder="Re-Enter your new  Password" id="cnfpass">
              </mat-form-field>
              <span *ngIf="isValid('cnfpass')">Password and confirm password should match</span>
          </div> -->
          <div style="text-align: center; color:red">                
            {{successMessage}}
          </div>
         
          <div style="margin-top:20px;">
              <button class="form-btn-hollow" (click)="abc()">Submit</button>
          </div> 

         
      </form>
  </div>

  <div>
     
  </div>
</div>